# compiled output
node_modules/
dist/
.output
build/
.parcel-cache/
.svelte-kit/
package/
.vercel

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# OS
.DS_Store

# Env
.env
.env.*

